<%#  遺書作成 %>

<div class="will-new-box">
  <%= link_to "Will新規作成", new_will_path, class: "will-new-btn"%>
</div>



<%#  遺書一覧 %>
<div class="main-wills">
  <div class="will-box">
    <div class="index-wills">
      <% if @wills.exists? %>
        <% @wills.each do |will| %>
          <%= link_to will_path(will.id), method: :get do %>
            <p class="will-will_address"><%= will.will_address%></p>
            <p class="will-content"><%# will.content %></p>
          <% end %>
        <% end %>
      <% else %>
        <p>遺書の宛名がここに一覧表示されます。</p>
      <% end %>
    </div>
  </div>
</div>










<%#  遺書作成 %>
<%#  遺書詳細 %>
<%#  遺書編集 %>
<%#  遺書削除 %>
<%#  遺書一覧 %>