<%#  遺書作成 %>

<div class="will-new-box">
  <%= link_to "Will新規作成", new_will_path, class: "will-new-btn"%>
</div>



<%#  遺書一覧 %>
<div class="will-name">
<p><%# current_user.nickname %>
<%# さんの遺書一覧</p> %>
</div>
<div class="main-wills">
  <div class="will-box">
    <div class="index-wills">
      <% @wills.each do |will| %>
        <% link_to will_path(will.id), method: :get do %>
          <div class="will-content">
            <p class="will-user"><%= will.will_address%></p>
            <p class="article-content">　<%= will.content %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>













<%#  遺書作成 %>
<%#  遺書詳細 %>
<%#  遺書編集 %>
<%#  遺書削除 %>
<%#  遺書一覧 %>