<%# <div class="contents row"> %>
  <%# @wills.each do |will| %>
    <%# <div class="content_post" style="background-image: url(<%= will.image %>
      <p><%# will.will_address %></p>
      <%# <span class="name"> %>
        <%# will.content%>
      <%# </span> %>
    <%# </div> %>
  <%# end %>
<%# </div> %>


<div class="will-top-page">
  <div class="will-top-1">
    <a href="will_app_top_page">ご本人様はこちら</a>
  </div>
  <div class="will-top-2">
    <a href="/">Will閲覧者はこちら</a>
  </div>
</div>

