<%#  遺書作成 %>

<div class="will-new-box">
  <%= link_to "Will新規作成", new_will_path, class: "will-new-btn"%>
</div>



<%#  遺書一覧 %>
<div class="will-name">
<p><%# current_user.nickname %>
<%# さんの遺書一覧</p> %>
</div>
<div class="main-wills">
  <div class="will-box">
    <div class="index-wills">
    <%# if user_signed_in? && current_user.id == 1 %>
    <% if @wills.exists? %>
      <% @wills.each do |will| %>
        <%= link_to will_path(will.id), method: :get do %>
          <p class="will-user"><%= will.will_address%></p>
          <p class="will-content"><%= will.content %></p>
          <%# @wills.will_address%>
          <%# @wills.content %>
          <%# @wills.content %>
        <% end %>
      <% end %>
    <% else %>
          <%# <div class="will-content"> %>
            <p>遺書一覧がここに表示されます</p>
          <%# </div> %>
        <%# end %>
      <%# end %>
    <% end %>
    </div>
  </div>
</div>










<%#  遺書作成 %>
<%#  遺書詳細 %>
<%#  遺書編集 %>
<%#  遺書削除 %>
<%#  遺書一覧 %>