<%#  遺書閲覧用ログイン %>
<div class="contents row">
  <div class="container">

    <%= form_tag('will_app_reader_page_2', method: :get) do %> 
      <h2>作成者様のフルネームをご入力ください</h2>
      <input class="" type="text" name="name"> 
      <h2>作成者様の生年月日をご入力ください</h2>
      <input class="" type="date" day_of_birth="day_of_birth"> 
      <input class="" type="submit" value="次へ進む"> 
    <% end %>
    
  </div>
</div>


<%#  遺書閲覧用ログイン %>
<%#  遺書宛名チェック %>
<%#  遺書閲覧 %>


