<%#  遺書宛名チェック %>
<div class="reader-check-title-box">
  <h1 class="reader-check-title">宛名様ご本人でお間違えないでしょうか？</h1>
</div>

<div class="reader-check-box">
  <div class="reader-check-btn-yes">
  はい
  </div>
  <div class="reader-check-btn-no">
  いいえ
  </div>
</div>