.show-article-box{
  height: 440px;
  width:800px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

p{
  word-break: break-all;
  overflow-wrap : break-word;
}

.show-article{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.show-article-title{
  font-weight:800;
  font-size: 16px;
  line-height: 1em;
}

.show-article-content{
  font-size: 12px;
  line-height: 0;
  
}

.show-article-user{
  line-height: 1em;
}

.show-content_post{
  background-color: lightgray;
  height: 100px;
}








 .article-edit-btn {
  text-align: center;
  background-color: lightgray;
  font-size: 20px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
  border-radius: 5px;
}

.or-text {
  font-size: 20px;
  display: flex;
  justify-content: center;
}
 .article-destroy-btn {
  background-color: lightgray;
  text-align: center;
  font-size: 20px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
  border-radius: 5px;
}

.ppoi{
  display: flex;
  justify-content: center;
}