
 .show-btns{
  /* display: flex;
  justify-content: center;
  flex-direction: column; */
}

 .article-edit-btn {
  text-align: center;
  background-color: lightgray;
  font-size: 20px;
  /* font-weight: bold; */
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
  border-radius: 5px;
}

.or-text {
  font-size: 20px;
  display: flex;
  justify-content: center;
}
 .article-destroy-btn {
  background-color: lightgray;
  text-align: center;
  font-size: 20px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
  border-radius: 5px;
}

.ppoi{
  display: flex;
  justify-content: center;
}