<div class="contents row">
  <% @articles.each do |article| %>
    <div class="content_post" style="background-image: url(<%= article.image %>);">
      <p><%= article.title %></p>
      <span class="name">
        <%= article.content %>
      </span>
    </div>
  <% end %>
</div>