<div class="contents row">
  <p><%= @current_user.nickname %>さんの投稿一覧</p>





  <div class="my-article-box">
    <% @current_user.articles.each do |article| %>
      <%= link_to article_path(article.id), method: :get do %>
        
        <div class="my-page">
          <p class="article-title">『<%= article.title %>』</p>
          <p class="article-content">　<%= article.content %></p>
        </div>
      <% end %>
    <% end %>
  </div>

</div>